
@{
    ViewBag.Title = "MyOrderDetails";
    Layout = "~/Areas/Web/Views/Shared/_SharedWebLayout.cshtml";
}

@model List<Bibliothek.Model.Entity.OrderDetail>
@{
    decimal toplamTutar = 0;
    decimal kargoTutari = 10;
}
<div class="col-md-12" style="margin-top:30px;">
    <span class="font-weight-bold">Sipariş No: @Model[0].Order.OrderNo</span>&nbsp;
    <br />
    <table class="table table-bordered table-striped" style="margin-top:20px;">
        <thead style="background-color:deepskyblue;color:white">
            <tr>
                <th>Ürün Fotoğraf</th>
                <th>Ürün Adı</th>
                <th>Ürün Birim Fiyatı</th>
                <th>Ürün Miktarı</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="@item.Product.ImagePath" style="display:block;" width="90" height="90" /></td>
                    <td><a href="/Web/Product/ProductDetails/@item.ProductID">@item.Product.Name</a></td>
                    <td>@item.Price ₺</td>
                    <td>@item.Quantity</td>
                </tr>
                toplamTutar += (decimal)(item.Quantity * item.Price);
            }
        </tbody>
    </table>
    @if (toplamTutar >= 100)
    {
        <span>Kargo Bedeli: @(kargoTutari * 0) ₺</span>
        <br />
        <span>Sipariş Toplam Tutarı: @toplamTutar ₺</span>
    }
    else
    {
        <span>Kargo Bedeli: 10,00 ₺</span>
        <br />
        <span>Sipariş Toplam Tutarı: @(toplamTutar + kargoTutari) ₺</span>
    }
</div>




