@model Bibliothek.Model.Entity.Product

@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Areas/Web/Views/Shared/_SharedWebLayout.cshtml";
}

<style type="text/css">
    h6 {
        text-decoration: line-through
    }
</style>
<script src="~/Content/Scripts/jquery.min.js"></script>
<script src="~/Content/Scripts/Cart.js"></script>

<script>
    $(document).ready(function () {


        $('#addToCart').on('click', function () {
                var id = "@Model.ID";

                $.ajax({
                    type: "POST",
                    dataType: "Json",
                    contentType: "application/json",
                    data: JSON.stringify({ id: id }),
                    url: "@Url.Action("Add", "Cart")",
                    success: function (data) {
                        $("#lblMesaj").removeAttr("style");
                        setTimeout(function () {
                            $("#lblMesaj").fadeOut();
                            $("#lblMesaj").css("visibility", "hidden");
                        }, 2000);
                    }
                });
        });

        $( "#addToFavorite" ).on('click', function() {
            var id = "@Model.ID";

            $.ajax({
                    type: "POST",
                    dataType: "Json",
                    contentType: "application/json",
                    data: JSON.stringify({ id: id }),
                    url: "@Url.Action("AddToMyFavorites", "Home")",
                    success: function (data) {
                        $("#lblMesaj").removeAttr("style");
                        setTimeout(function () {
                            $("#lblMesaj").fadeOut();
                            $("#lblMesaj").css("visibility", "hidden");
                        }, 2000);
                    }
                });

        });
    });
</script>
<div class="col-lg-3">
    @Html.Action("Category", "Home")
</div>
<div class="row col-lg-9" style="margin-top:50px;">
    <div class="col-md-5 col-md-pull-7">
        <div class="thumb-image"><img src="@Model.ImagePath" style="width:100%; height:100%;" class="img-responsive"></div>
    </div>
    <br />
    <div class="col-md-7 col-md-pull-5">
        <h3>@Model.Name</h3>
        @if (Model.MarketPrice != 0)
        {
            <h6 class="font-italic" style="color:grey">@Model.MarketPrice ₺</h6>
        }

        <h4 class="font-italic">@Model.Price ₺</h4>
        <div class="description">
            <p>
                @Model.Description
            </p>
        </div>
        <div>
            @if (Model.Author != null)
            {
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Yazar:</th>
                            <td>@Model.Author</td>
                        </tr>
                    </tbody>
                </table>
            }
            else if (Model.Star != null)
            {
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Oyuncu:</th>
                            <td>@Model.Star</td>
                        </tr>
                        <tr>
                            <th>Yönetmen:</th>
                            <td>@Model.Director</td>
                        </tr>
                    </tbody>
                </table>
            }
            else if (Model.Artist != null)
            {
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Sanatçı:</th>
                            <td>@Model.Artist</td>
                        </tr>
                    </tbody>
                </table>
            }
            else if (Model.TradeMark != null)
            {
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Marka:</th>
                            <td>@Model.TradeMark</td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
        @*@if (Session["login"] != null)
        {
            if (Model.UnitsInStock < 1)
            {
                <div class="occasion-cart">
                    <button type="button" data-toggle="tooltip" class="disabled btn btn-lg btn-danger" title="Ürün Temin Edilememektedir !"><i class="fa fa-ban"></i> Stok Yok</button>
                </div>
                <div class="occasion-cart" style="margin-top:5px;">
                    <button type="button" data-toggle="modal" data-target="#Warn" class="btn btn-lg btn-primary"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Ürün Stoğa Girince Haber Ver !</button>
                </div>
            }
            else
            {
                <div class="occasion-cart">
                    <button id="addToCart" data-toggle="modal" data-target="#AddToCart" value="@Model.ID" class="btn btn-outline-primary" type="submit"><i class="fa fa-shopping-basket"></i> Sepete Ekle</button>

                    <button id="addToFavorite" data-toggle="modal" data-target="#AddToFavorite" value="@Model.ID" class="btn btn-outline-danger pull-right" type="button"><i class="fa fa-heart"></i> Favorilere Ekle</button>
                </div>
            }
        }
        else
        {
            <div class="occasion-cart">
                <button id="loginToAdd" data-toggle="modal" data-target="#LoginToAdd" type="button" class="disabled btn btn-lg btn-primary"><i class="fa fa-shopping-basket"></i> Sepete Ekle</button>
            </div>
        }*@

  
            @if (Model.UnitsInStock < 1)
            {
                <div class="occasion-cart">
                    <button type="button" data-toggle="tooltip" class="disabled btn btn-lg btn-danger" title="Ürün Temin Edilememektedir !"><i class="fa fa-ban"></i> Stok Yok</button>
                </div>
                <div class="occasion-cart" style="margin-top:5px;">
                    <button type="button" data-toggle="modal" data-target="#Warn" class="btn btn-lg btn-primary"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Ürün Stoğa Girince Haber Ver !</button>
                </div>
            }
            else
            {
                <div class="occasion-cart">
                    <button id="addToCart" data-toggle="modal" data-target="#AddToCart" value="@Model.ID" class="btn btn-outline-primary" type="submit"><i class="fa fa-shopping-basket"></i> Sepete Ekle</button>

                    <button id="addToFavorite" data-toggle="modal" data-target="#AddToFavorite" value="@Model.ID" class="btn btn-outline-danger pull-right" type="button"><i class="fa fa-heart"></i> Favorilere Ekle</button>
                </div>
            }
        
     

    </div>
    <div class="clearfix"> </div>
    <div class="clearfix"> </div>
</div>
<hr />
<br /><br />
<div class="col-lg-8 offset-3" style="margin-top: 30px;">
    <div class="col-lg-8 ">
        <h3><i class="fa fa-comments"></i><b> Yorumlar</b></h3>
        <hr />

        @*ÇALIŞMIYOR*@


        @foreach (var item in Model.Comments)
        {
            if (Model.Comments.Count > 0)
            {
                <p class="text-primary">@item.Header</p>
                <figure>
                    @item.Content
                </figure>
                <p class="text-primary" style="text-align:right">
                    <i>@item.CreatedDate.Value.ToShortDateString()</i><br />
                </p>
            }
            else if (Model.Comments.Count < 1)
            {
                <p class="text-primary">Bu ürün için henüz yorum yapılmamış...</p>
            }

            <hr />
        }
    </div>
</div>
@if (Session["login"] != null)
{
    <div class="row col-lg-8 offset-3">
        <div class="col-lg-8">
            <form action="/Web/Product/AddComment" method="post">
                <div class="form-control">
                    <label for="Header" class="font-weight-bold">Başlık</label>
                    <input type="text" name="Header" class="form-control" placeholder="Başlık" value="" />
                </div>
                <div class="form-control" style="margin-top:5px;">
                    <label for="Content" class="font-weight-bold">İçerik</label>
                    <textarea id="commentContent" class="form-control" name="Content" rows="4" placeholder="Lütfen Yorumunuzu Yazınız..."></textarea>
                </div>
                <input type="hidden" name="ID" value="@Model.ID" />
                <input id="comment" type="submit" name="name" value="Yorum Yap" class="form-control btn btn-primary" style="margin-top:10px;" />
                <br />
            </form>
        </div>
    </div>
}
else
{
    <div class="row col-md-8 offset-3" style="margin-bottom:50px;">
        <div class="col-md-8">
            <form>
                <div class="form-control">
                    <label for="Header" class="font-weight-bold">Başlık</label>
                    <input type="text" name="Header" class="form-control" placeholder="Başlık" value="" />
                </div>
                <div class="form-control" style="margin-top:5px;">
                    <label id="commentContent" for="Content" class="font-weight-bold">İçerik</label>
                    <textarea class="form-control" name="Content" rows="4" placeholder="Lütfen Yorumunuzu Yazınız..."></textarea>
                </div>
                <input type="hidden" name="ID" value="@Model.ID" />
                <button id="commentContent" data-toggle="modal" data-target="#CommentContent" type="button" class="disabled form-control btn btn-primary" style="margin-top:10px;"><i class="fa fa-comments"></i> Yorum Yap</button>
                <br />
            </form>
        </div>
    </div>
}

<hr />

<div class="modal fade" id="AddToCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ürün Sepetinize Eklendi.</h5>
                <a class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" data-dismiss="modal">Alışverişe Devam Et</a>
                <a class="btn btn-primary" href="/Web/Cart/Index">Sepetime Git</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddToFavorite" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ürün Favorilerinize Eklendi.</h5>
                <a class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" data-dismiss="modal">Alışverişe Devam Et</a>
                <a class="btn btn-primary" href="/Web/Home/MyFavorites">Favorilerime Git</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Warn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ürün Stoğa Girdiğinde Bilgilendirme Maili Gönderilecektir.</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" data-dismiss="modal">Alışverişe Devam Et</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="LoginToAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sepete Ürün Ekleyebilmek İçin Giriş Yapınız !</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="/Web/Home/Login">Üye Girişi</a>
                <a class="btn btn-secondary" href="/Web/Home/Register">Üye Ol</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CommentContent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yorum Yapabilmek İçin Üye Girişi Yapınız !</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="/Web/Home/Login">Üye Girişi</a>
                <a class="btn btn-secondary" href="/Web/Home/Register">Üye Ol</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<script>
    $(function () {

        $("#comment").on("click", function () {
            if ($("#commentContent").val() == "") {
                alert("Lütfen Yorum Yazınız!");
                return;
            }
        });

    });
</script>






@*@section footer{
        @Html.Partial("_PartialFooter")
    }*@






